[Unit]
Description="Hotspot daemon"
After=graphical.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/sudo /env/dot/.func/network/hotspot --ap wlan0 derivate --password "Dyhere::024??"
ExecStop=/usr/bin/doas rm /tmp/hotspot.all.lock
Restart=on-failure

[Install]
WantedBy=default.target
