[Unit]
Description="Hyprland wallpaper"
Documentation="https://github.com/hyprwm/hyprpaper"
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprpaper
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
