[Unit]
Description="Lule colors from wallpaper"
Documentation="https://github.com/warpwm/lule"
After=graphical.target

[Service]
Type=simple
Environment=LULE_W=/env/set/.wallpaper
Environment=LULE_C=/home/bresilla/.config/lule/configs.json
Environment=LULE_S=/env/dot/.func/wm/lule_colors
# ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
ExecStart=/env/bin/lule daemon --no-pipe --loop=60
# Restart=always
# RestartSec=5

[Install]
WantedBy=default.target
