[Unit]
Description="Ubiquiti WIFIMAN"
Documentation="https://ui.com/download/app/wifiman-desktop"
After=network.target

[Service]
Type=simple
Environment="API_PORT=63150"
Environment="DISCOVERY_TIMEOUT=30000"
Environment="DISCOVERY_INTERFACE_EXPIRATION=10000"
Environment="PROXY_TIMEOUT=3000"
Environment="SERVICE_AUTH_TIMEOUT=7500"
Environment="SERVICE_PROFILE_TIMEOUT=7500"
Environment="SERVICE_TELEPORT_CONNECTIONS_TIMEOUT=30000"
Environment="SERVICE_TELEPORT_ADD_TIMEOUT=60000"
Environment="SERVICE_TELEPORT_DELETE_TIMEOUT=15000"
Environment="SERVICE_TELEPORT_STATUS_TIMEOUT=10000"
Environment="SERVICE_TELEPORT_ON_TIMEOUT=60000"
Environment="SERVICE_TELEPORT_OFF_TIMEOUT=15000"
Environment="UIDB_SYNC=604800000"
Environment="SERVICE_DISCOVER_START_TIMEOUT=30000"
Environment="SERVICE_DISCOVER_PING_TIMEOUT=700"
Environment="SERVICE_DISCOVER_PING_LIMIT=128"
Environment="UPDATER_DELAY=120000"
Environment="UPDATER_INTERVAL=43200000"
Environment="WIFIMAN_SERVER=https://sp-dir.uwn.com"
# Environment="LOG_LEVEL=debug"
# ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
ExecStart=/env/bin/wifimand
# Restart=always
# RestartSec=5

[Install]
WantedBy=default.target
