#!/bin/bash
##SUDO
alias virsh="sudo virsh"
alias virt-viewer="sudo virt-viewer"
alias wgi="sudo wg-quick"
# alias chroot="sudo schroot"
alias mount="sudo mount"
alias umount="sudo umount"
alias nmap="sudo nmap"
alias hotspot="sudo hotspot"
alias bandwhich="sudo bandwhich"
alias ufw="sudo ufw"
alias btrfs="sudo btrfs"
alias ser="sudo /env/bin/ser"
alias rustdesk="sudo rustdesk"

##WM
alias sx="startx"
alias sw="startw"


##DEV
alias box='devbox'
alias dev='devenv'


##PACKAGE_MANAGER
alias pack='yay'
alias aly='nostromo'


##NETWORK
alias dnsinuse='nmcli dev show | grep IP4.DNS'
alias findip='sudo arp-scan --localnet'
alias netspeed='wget --output-document=/dev/null http://speedtest.wdc01.softlayer.com/downloads/test500.zip'
alias portmon='sudo lsof -nP -iTCP -sTCP:LISTEN'
alias openports='sudo netstat -tulpn'
alias zero='sudo zerotier-cli'
alias ssm='manssh'
alias blue='bluetuith'
alias ip="ip -c"

##SYSTEM
alias moonlight="QT_QPA_PLATFORM=xcb moonlight"
alias hibernate="systemctl hibernate"
alias cp="rsync -uahP --inplace --no-whole-file --info=progress2"
alias rm='rm -rf'
alias del='rip'
alias cat='bat --paging=never'
alias ll='eza -liSHF --header --git --group-directories-first --tree -L1'
alias la='eza -laiSHF --header --git --group-directories-first --tree -L1'
alias lt='eza -liSHF --header --git --tree -L3'
alias lu='dutree -d1 --usage -x .git -x .direnv'
alias df='dfc -dTmw -p -/dev/loop,tmp,dev,run,one,efivarfs'
alias lsblk='lsblk --output NAME,SIZE,FSUSE%,MODEL,TRAN,TYPE,FSTYPE,UUID,LABEL,MOUNTPOINT,STATE,HOTPLUG'
alias lsmnt='lsblk --output LABEL,NAME,SIZE,FSTYPE,MOUNTPOINTS'
alias vols='sudo lvm pvs && echo && sudo lvm vgs && echo && sudo lvm lvs'
alias dd='dd status=progress'
alias home='home-manager'
alias clip='xclip -sel clip'
alias suspend='systemctl suspend'
alias eject='udisksctl power-off -b'
alias nvmecheck="diff -y <(sudo nvme smart-log /dev/nvme0n1) <(sudo nvme smart-log /dev/nvme1n1)"

##APPS
alias a='atool -D -x'
alias x='xplr'
alias e=$EDITOR
alias nums="dtool"
alias mcon="mconnectctl"
alias ask="ata"
alias code="com.visualstudio.code"
alias hyp="hyprctl"
alias xfreerdp=xfreerdp3

alias ari='aria2c'
alias inxi='prime inxi -Fxxxz'
alias note='dnote'
alias font='fc-query'
alias pomo='pomo -p /home/bresilla/.config/pomo'
alias git='hub'
alias lines='tokei'
alias search='rg --hidden'

##ROBO
alias ros="ros2"

##FILES
alias own='sudo chown -R $USER:$USER'
alias exe='chmod u+x'
alias dxe='chmod u-x'

##OTHER
alias open='nohup mimeo $1 > /dev/null 2>&1 &!'
alias rn='renamer'
alias rp='ruplacer'
alias tk='tokei'
alias mn='tldr'
alias calc='eva'
alias fq='fselect'
alias disco='diskonaut'
alias band='bandwhich'
alias tap='teip'
alias get='sudo sysget'
alias lzd='lazydocker'
alias lzg='lazygit'
alias crux='horcrux'
alias pass='gopass'
alias todo='taskwarrior-tui'
alias forge='conda'
alias hosty="sudo locdev"

##MEDIA
alias color='pastel format hex'	
alias cal='cal -ymw'
alias mul="mullvad"
alias oat="oatmeal"


####         AKA
alias aka='aka -f ~/.aliases' # Added by aka
alias inc='incus' # Added by aka
