.config/nvim/plugged/
.config/Code/
Sets
OSS/
.config/mutt/account.com.gmail.kushtrim
.config/mutt/account.com.hotmail.kushtrim
.config/mutt/account.com.unibo.kushtrim
.config/mutt/account.com.yahoo.kushtrim
.other
.local
.config/direnv/allow
.config/nvim/rainbow.lua
.config/nvim/plugin
.Trash-1000/
.config/himalaya/config.toml
.config/helix/runtime/
.config/zed/.tmp*
.func/info
.func/info/me
