tidyup
use nix

export BIB=$PWD/bib.bib
export ENVNAME=tex

bib_safe(){ biber --tool --output_encoding=ascii --output_safechars $BIB; }
export_function bib_safe

get_doi(){ pdftotext $1 - | grep -i "doi"; }
export_function get_doi

doi2bib(){ echo >> $BIB; curl -s "https:://api.crossref.org/works/$1/transform/application/x-bibtex" >> $BIB; echo >> $BIB; }
export_function doi2bib

tex2pdf(){ ls $1 | entr latexmk -quiet -bibtex -f -pdf $1; latexmk -bibtex -c; }
export_function tex2pdf

img4ppr(){ convert -units PixelsPerInch $1 -quality 100 -density 300 $1.jpg; }
export_function img4ppr

docker_run() { docker run -v $PWD/:/doc/ -t -i thomasweise/texlive $@; }
export_function docker_run

run() { pdflatex paper && bibtex paper && pdflatex paper && rm *.aux *.bbl *.blg *.log; }
export_function run
